@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.controls-area {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 20px 20px;
    width: 90%;
    justify-content: space-around;
}

/* map */

.map-area {
    height: 650px;
    width: 650px;
    display: flex;
    margin: 0px 16px;
}

.map-canvas {
    position: absolute;
    width: 650px;
    height: 650px;
}

.map-point {
    background-color: black;
    height: 1.5%;
    width:  1.5%;
    position: absolute;
    border-radius: 100%;
}

.map-path-container {
    position: absolute;
    width: 650px;
    height: 650px;
}

/* panels */

.panel-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px 16px;
}

.info-panel {
    background-color: white;
    padding: 8px 8px;
    border-radius: 10px;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    min-width: 320px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* controls */

.temperature-slider {
    width: 80%;
}

/* media queries */

@media only screen and (max-width: 600px) {
    .map-area {
        height: 300px;
        width: 300px;
    }

    .map-canvas {
        height: 300px;
        width: 300px;
    }

    .map-path-container {
        width: 300px;
        height: 300px;
    }
    
    .controls-area {
        padding: 30px 10px;
        margin: 20px 10px;
    }

    .temperature-slider {
        width: 70%;
    }
  }
